{% extends 'project1.html' %}

{% block alt_nav %}
<ul class="nav navbar-nav navbar-right navbar-small visible-md visible-lg">
  <li><a href="/project1.html" title="">001</a></li>
  <li><a href="/project2.html" title="" class="active">002</a></li>
  <li><a href="/project3.html" title="">003</a></li>
  <li><a href="/project4.html" title="">004</a></li>
  <li><a href="/project5.html" title="">005</a></li>
  <li><a href="/project6.html" title="">006</a></li>
</ul>
{% endblock %}

{% block proj_title %} 002 : Fringilla sit amet {% endblock %}

{% block content %}Nulla facilisi. Vivamus vestibulum, elit in scelerisque ultricies, nisl nunc pulvinar ligula, id sodales arcu sapien in nisi. Quisque libero enim, mattis non augue posuere, venenatis dapibus urna.{% endblock %}

{% block quote %}"Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante."{% endblock %}

{% block reference_quote %}Irina Martin{% endblock %}

{% block img1 %}<img src="../static/assets/images/space-purp.jpg" class="img-responsive" alt="">{% endblock %}

{% block img1_text %}<p>space</p>{% endblock %}

{% block img2 %}<img src="../static/assets/images/tree.jpg" class="img-responsive" alt="">{% endblock %}

{% block img2_text %}<p>zen tree</p>{% endblock %}

{% block img3 %}<img src="../static/assets/images/moon.jpg" class="img-responsive" alt="">{% endblock %}
